<a href="https://colab.research.google.com/github/Mayank224472/Mayank224472/blob/main/Whitehat_Mayank_Lesson_20_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 20: Capstone Class - Hunting Exoplanets In Space

### Teacher-Student Activities

In the previous class, we learnt Fourier transformation, why to apply it on a dataset and how to apply it. 

Also, we transformed both the `exo_train_df` and `exo_test_df` DataFrames by creating the `fast_fourier_transform()` function and then by applying it vertically on the DataFrame using the `apply()` function.

In this class, we will learn how to synthesize (or manufacture) the artificial data points in a dataset by applying an oversampling technique. Generally, in classification problems such as this one, the data is highly imbalanced. 

In a highly imbalanced data, the number of data points for one class is very high compared to another class. The class having the most number of data points is called the **majority class** whereas the class having the least number of data points is called the **minority class**.

In the case of the exoplanets dataset, class `1` is a majority class because the dataset contains the maximum number of stars not having a planet. 

|Class|Training dataset|% Training dataset|Remarks|
|-|-|-|-|
|1|5050|99.273|Majority class|
|2|37|0.727|Minority class|

The `exo_train_df` dataset has a total of `5087` stars in which only `37` stars have a planet and the remaining `5050` stars don't have a planet. The percentage of stars having a planet is $\frac{37 \times 100}{5087} = 0.727 $ % which is very low. Hence, the training dataset is highly imbalanced. 

The test dataset is also highly imbalanced because out of `570` data points, it contains only `5` stars labelled as class `2`. 

|Class|Test dataset|% Test dataset|Remarks|
|-|-|-|-|
|1|565|99.123|Majority class|
|2|5|0.877|Minority class|

So, the percentage of class `2` data points is $\frac{5\times100}{570} = 0.877$ % which is also very low. Thus, the test dataset is also highly imbalanced.

An oversampling technique synthesizes the artificial data points for the minority class data to balance a highly imbalanced dataset. An oversampling technique is required to remove the bias in favour of the majority class in a dataset. 

The major problem with imbalanced data is that a prediction model will always be biased in favour of the majority class in making predictions. Recall that when we deployed the Random Forest Classifier model, it labelled every star in the test dataset as `1` even though the test dataset contains `5` stars belonging to class `2`.

Hence, using an oversampling technique, we can artificially synthesize the minority class data in a training dataset so that both the classes have equal representation in the dataset.

**Note:** The oversampling technique is applied only to the training dataset. It is never applied to the test dataset.

Let's run all the codes in the code cells that we have already covered in the previous classes and begin this class from the **Activity 1: Oversampling For Classification Problems - SMOTE** section. You too run the code cells until the first activity.

---

#### Loading The Datasets

Create a Pandas DataFrame every time you start the Jupyter notebook.

Dataset links (don't click on them):

1. Train dataset

   https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/whitehat-ds-datasets/kepler-exoplanets-dataset/exoTrain.csv

2. Test dataset
  
   https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/whitehat-ds-datasets/kepler-exoplanets-dataset/exoTest.csv

In [ ]:
# Load both the training and test datasets.
import numpy as np
import pandas as pd

exo_train_df = pd.read_csv('https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/whitehat-ds-datasets/kepler-exoplanets-dataset/exoTrain.csv')
exo_test_df = pd.read_csv('https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/whitehat-ds-datasets/kepler-exoplanets-dataset/exoTest.csv')

In [ ]:
# The shapes of the 'exo_train_df' and 'exo_test_df' DataFrames.
print(exo_train_df.shape)
exo_test_df.shape

(5087, 3198)

(570, 3198)

In the previous classes, we have already checked the datasets don't have a missing value. So, we can skip that part.

---

#### Data Normalisation

After creating a DataFrame and inspecting data for the missing values, we can normalise the data.

$$x_{norm} = \frac{x_p - x_{mean}}{x_{max} - x_{min}}$$

In [ ]:
# Function for mean normalisation.
def mean_normalise(series):
  norm_series = (series - series.mean()) / (series.max() - series.min())
  return norm_series

In [ ]:
# Applying the 'mean_normalise()' function horizontally on the training DataFrame.
norm_train_df = exo_train_df.iloc[:, 1:].apply(mean_normalise, axis=1)
norm_train_df.head()

     FLUX.1    FLUX.2    FLUX.3  ...  FLUX.3195  FLUX.3196  FLUX.3197
0  0.053834  0.047391  0.006510  ...   0.033024  -0.003127  -0.031759
1 -0.050411 -0.042317 -0.081922  ...   0.022260   0.037550   0.043849
2  0.243983  0.245509  0.235186  ...  -0.017259  -0.036384  -0.048782
3  0.518501  0.551177  0.480659  ...  -0.019827  -0.019889   0.029163
4 -0.399904 -0.401872 -0.404199  ...  -0.135528  -0.145458  -0.181590

[5 rows x 3197 columns]

In [ ]:
# Inserting the 'LABEL' column to the 'norm_train_df' DataFrame.
norm_train_df.insert(loc=0, column='LABEL', value=exo_train_df['LABEL'])
norm_train_df.head()

   LABEL    FLUX.1    FLUX.2  ...  FLUX.3195  FLUX.3196  FLUX.3197
0      2  0.053834  0.047391  ...   0.033024  -0.003127  -0.031759
1      2 -0.050411 -0.042317  ...   0.022260   0.037550   0.043849
2      2  0.243983  0.245509  ...  -0.017259  -0.036384  -0.048782
3      2  0.518501  0.551177  ...  -0.019827  -0.019889   0.029163
4      2 -0.399904 -0.401872  ...  -0.135528  -0.145458  -0.181590

[5 rows x 3198 columns]

In [ ]:
# Applying the 'mean_normalise()' function on the testing DataFrame. 
norm_test_df = exo_test_df.iloc[:, 1:].apply(mean_normalise, axis=1)
norm_test_df.head()

     FLUX.1    FLUX.2    FLUX.3  ...  FLUX.3195  FLUX.3196  FLUX.3197
0  0.273347  0.228221  0.196676  ...   0.080408   0.616438   0.130742
1  0.394038  0.391480  0.392680  ...  -0.171944  -0.166961  -0.148790
2  0.648150  0.627582  0.591444  ...  -0.119374  -0.023437   0.027941
3 -0.232813 -0.233212 -0.238944  ...  -0.017912  -0.059585  -0.046740
4 -0.006994  0.003426  0.006382  ...  -0.016852  -0.020089   0.002564

[5 rows x 3197 columns]

In [ ]:
# Inserting the 'LABEL' column to the 'norm_test_df' DataFrame.
norm_test_df.insert(loc=0, column='LABEL', value=exo_test_df['LABEL'])
norm_test_df.head()

   LABEL    FLUX.1    FLUX.2  ...  FLUX.3195  FLUX.3196  FLUX.3197
0      2  0.273347  0.228221  ...   0.080408   0.616438   0.130742
1      2  0.394038  0.391480  ...  -0.171944  -0.166961  -0.148790
2      2  0.648150  0.627582  ...  -0.119374  -0.023437   0.027941
3      2 -0.232813 -0.233212  ...  -0.017912  -0.059585  -0.046740
4      2 -0.006994  0.003426  ...  -0.016852  -0.020089   0.002564

[5 rows x 3198 columns]

---

#### Transpose Of A DataFrame

In [ ]:
# Transpose the 'exo_train_df' using the 'T' keyword.
exo_train_df.T

            0      1       2       3     ...    5083    5084   5085    5086
LABEL       2.00   2.00    2.00    2.00  ...    1.00    1.00   1.00    1.00
FLUX.1     93.85 -38.88  532.64  326.52  ...  989.75  273.39   3.82  323.28
FLUX.2     83.81 -33.83  535.92  347.39  ...  891.01  278.00   2.09  306.36
FLUX.3     20.10 -58.54  513.73  302.35  ...  908.53  261.73  -3.29  293.16
FLUX.4    -26.98 -40.09  496.92  298.13  ...  851.83  236.99  -2.88  287.67
...          ...    ...     ...     ...  ...     ...     ...    ...     ...
FLUX.3193  92.54   0.76    5.06  -12.67  ... -136.16   -3.47  -1.50  -25.33
FLUX.3194  39.32 -11.70  -11.80   -8.77  ...   38.03   65.73  -4.65  -41.31
FLUX.3195  61.42   6.46  -28.91  -17.31  ...  100.28   88.42 -14.55  -16.72
FLUX.3196   5.08  16.00  -70.02  -17.35  ...  -45.64   79.07  -6.41  -14.09
FLUX.3197 -39.54  19.93  -96.67   13.98  ...   35.58   79.43  -2.55   27.82

[3198 rows x 5087 columns]

---

#### Fast Fourier Transformation

Applying the Fourier Transformation on the datasets.

In [ ]:
# Create a function and name it 'fast_fourier_transformation()' to apply Fast Fourier Transformation on the DataFrames.
import numpy as np

def fast_fourier_transform(star):
  fft_star = np.fft.fft(star, n=len(star))
  return np.abs(fft_star)

In [ ]:
# Get a frequency array/series for both the training and test datasets.
freq = np.fft.fftfreq(len(exo_train_df.iloc[0, 1:]))
freq

array([ 0.        ,  0.00031279,  0.00062559, ..., -0.00093838,
       -0.00062559, -0.00031279])

This time we will apply the `fast_fourier_transform()` function vertically. So, before applying the function, we will transpose the original DataFrame. Then we will apply the `fast_fourier_transform()` function vertically. Then we will again take the transpose of the DataFrame.

**Note:** We don't want to transform the `LABEL` values. We want to transform the `FLUX` values only.

In [ ]:
# Apply the 'fast_fourier_transform()' function on the transposed 'norm_train_df' DataFrame.
x_fft_train_T = norm_train_df.iloc[:, 1:].T.apply(fast_fourier_transform)
x_fft_train = x_fft_train_T.T
x_fft_train.head()

         FLUX.1      FLUX.2     FLUX.3  ...   FLUX.3195  FLUX.3196   FLUX.3197
0  6.620116e-14    2.273248  35.722883  ...   33.978236  35.722883    2.273248
1  4.821195e-14   30.299298  36.918808  ...   38.376852  36.918808   30.299298
2  1.291464e-13   66.809870  19.498262  ...  170.268810  19.498262   66.809870
3  2.498890e-14   19.369720  52.151962  ...  108.097894  52.151962   19.369720
4  6.706859e-14  113.576655  51.382781  ...  146.597215  51.382781  113.576655

[5 rows x 3197 columns]

In [ ]:
# Applying the 'fast_fourier_transform()' function on the transposed 'norm_test_df' DataFrame.
x_fft_test_T = norm_test_df.iloc[:, 1:].T.apply(fast_fourier_transform)
x_fft_test = x_fft_test_T.T
x_fft_test.head()

         FLUX.1      FLUX.2     FLUX.3  ...  FLUX.3195  FLUX.3196   FLUX.3197
0  5.126298e-15   23.184733  40.545472  ...  17.994173  40.545472   23.184733
1  3.980211e-14  135.637702  42.680618  ...  28.017660  42.680618  135.637702
2  2.581991e-14  101.624620  26.553454  ...  11.634754  26.553454  101.624620
3  4.574132e-14   37.305651  20.537365  ...   5.108229  20.537365   37.305651
4  2.879381e-14    7.138386  11.941614  ...  12.808132  11.941614    7.138386

[5 rows x 3197 columns]

Our prediction model should be able to recognise the different frequency patterns for different planets and hopefully to classify the stars correctly.

---

#### Activity 1: Oversampling For Classification Problems - SMOTE^

There are 3 different methods to synthesize the artificial data points for a classification problem. They are:

1. Random oversampling

2. SMOTE

3. ADASYN

We will apply the SMOTE method to synthesize the artificial data points in the training dataset. The SMOTE method is the easiest one to understand. The term SMOTE stands for Synthetic Minority Over-Sampling Technique. How the SMOTE technique works, is beyond the scope of this course. But we will learn how to apply it to synthesize the artificial data points for a minority class. 

Before applying the SMOTE method, let's retrieve the `LABEL` data from the training and test DataFrames.

In [ ]:
# Student Action: Get the 'y_train' and 'y_test' series from the 'norm_train_df' and 'norm_test_df' DataFrames respectively.
y_train=norm_train_df['LABEL']
y_test=norm_test_df['LABEL']

To apply the `SMOTE` method, we have to follow these steps:

1. From the `imblearn.over_sampling` library import the `SMOTE` module.

2. Then, call the `SMOTE()` function with `ratio=1` as an input. The `ratio=1` denotes that after resampling the dataset, the data points for both the majority and minority class should be in equal numbers. In this case, class `1` has `5050` data points, so class `2` should also have `5050` data points. 

3. Apply the `fit_sample()` function from the `SMOTE` module to synthesize data for the minority class.

**Note:** The `fit_sample()` function returns a NumPy array for both the feature and target variables. Hence, you cannot apply any Pandas series or Python list function on them. You can apply only NumPy functions on them.

In [ ]:
# Teacher Action: Apply the 'SMOTE()' function to balance the training data.

# Import the 'SMOTE' module from the 'imblearn.over_sampling' library.
from imblearn.over_sampling import SMOTE
# Call the 'SMOTE()' function with 'ratio=1' as input and store it in the 'sm' variable.
smote=SMOTE(ratio=1)
# Call the 'fit_sample()' function with 'x_fft_train' and 'y_train' datasets as inputs.
x_fft_train_res,y_fft_train_res=smote.fit_sample( x_fft_train,y_train)

print(x_fft_train_res.shape)
print(y_fft_train_res.shape)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(10100, 3197)
(10100,)

In the code above, 

1. We are storing the `SMOTE(ratio=1)` function in the `smote` variable.

2. Then, we are generating the artificial values for both the feature and target values using the `fit_sample()` function and then storing them in the `x_fft_train_res` and `y_fft_train_res` variables, respectively.

**Note:** The `fit_sample()` function returns the resampled values in the form of NumPy arrays for both the `x` (feature variable) and `y` (target variable) values.

Let's check the type and shapes of the resampled datasets.

In [ ]:
# Student Action: Check the type and shapes of the 'x_fft_train_res' and 'y_fft_train_res' datasets.
print(type(x_fft_train_res))
print(type(y_fft_train_res))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

As you can see, both the `x_fft_train_res` and `y_fft_train_res` values are stored in the form of NumPy arrays.

Also, we now have `10100` data points for the training dataset containing `5050` class `1` values and `5050` class `2` values.

Let's verify it by using the `sum()` function from the `numpy` module.

---

#### Activity 2: The `sum()` Function^^

The `sum()` function counts the number of times a value occurs in a NumPy array. To apply the `sum()` on a NumPy array, use the following syntax:

**Syntax:** `sum(numpy_array == item)`

where `item` is that item whose number of occurrences in a NumPy array you wish to find.

In [ ]:
# Student Action: Find the number of occurrences of class '1' and class '2' values in the 'y_fft_train_res' NumPy array.
print(sum(y_fft_train_res==1))
print(sum(y_fft_train_res==2))

5050
5050

As you can see, both the classes, i.e., `1` and `2` appear the equal number of times in the `y_fft_train_res` NumPy array.

Now, let's deploy the Random Forest Classifier prediction model again to see if the prediction model is able to identify the stars having a planet in the test dataset.

---

#### Activity 3: Importing The Required Libraries

Now, import the `RandomForestClassifier` module from the `sklearn.ensemble` library. Also, import the `confusion_matrix` and `classification_report` modules from the `sklearn.metrics` library.

In [ ]:
# Student Action: Import the required modules from the 'sklearn.ensemble' and 'sklearn.metrics' libraries.
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix,classification_report

---

#### Activity 4: Applying The RandomForestClassifier Model 

Now that we have processed the data to enable our prediction model little more robust, let's once again deploy the Random Forest Classifier model to see if it is able to detect the stars having a planet.

In [ ]:
# Student Action: Deploy the random Forest Classifier prediction model.
rf_clf=RandomForestClassifier(n_jobs=-1, n_estimators=50)
rf_clf.fit(x_fft_train_res,y_fft_train_res)
rf_clf.score(x_fft_train_res,y_fft_train_res)
y_predict=rf_clf.predict(x_fft_test)
print(y_predict)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

Let's quickly make the confusion matrix and classification report to test the efficacy of the model.

---

#### Activity 5: The Confusion Matrix & Classification Report

Now create the confusion matrix and classification report for the model deployed to see if the model is able to detect the stars having a planet.

In [ ]:
# Student Action: Create the confusion matrix using the 'y_test' and 'y_pred' values as inputs.
cm=confusion_matrix(y_test,y_predict)
print(cm)

[[565   0]
 [  5   0]]

As you can see, the value in the second row and the second column is `0` which means the Random Forest Classifier model has failed to detect class `2` values. Thus, it failed to detect the stars having a planet.

Hence, this will lead to undefined precision, recall and f1-score values. Let's verify it by printing the classification report.

In [ ]:
# Student Action: Print the classification report using the 'y_test' and 'y_pred' values as inputs.
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           1       0.99      1.00      1.00       565
           2       0.00      0.00      0.00         5

    accuracy                           0.99       570
   macro avg       0.50      0.50      0.50       570
weighted avg       0.98      0.99      0.99       570

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

So, even after processing the data with normalisation, Fast Fourier Transformation and oversampling, the Random Forest Classifier prediction model has failed to detect the stars having a planet. One of the possible reasons for the failure of the Random Forest Classifier model could be its inability to form a right decision tree (recall that random forest is a collection of decision trees). This suggests that maybe we have to further process the data or we might have to apply a different prediction model. 

Let's deploy the **XGBoost Classifier** model to see if it can detect the stars having a planet. If it successfully detects the class `2` values, then it means the XGBoost Classifier model is a more appropriate model here to make prediction compared to the Random Forest Classifier model. If not, then we will have to further process the data and then deploy the classification models again.

---

#### Activity 6: The XGBoost Classifier Model^^^

To deploy the XGBoost Classifier model, we first have to import the `xgboost` library with `xg` as an alias. Then, we need to use the `XGBClassifier()` function to initiate the model. Then, we need to call the `fit()` function with `x_fft_train_res` and `y_fft_train_res` NumPy arrays as input to deploy the model. Finally, we can call the `predict()` function with `x_fft_test` data in the form of NumPy array as an input to get the predicted values.

You can read about the XGBoost Python package by clicking on the link provided in the **Activities** section under the title **XGBoost Python Package**.

**CAUTION:** The XGBoost Classifier is a computationally heavy model. It requires a very high RAM, CPU and GPU to run. It will take some time to learn the feature variables through the training data and then make predictions on the test data. Hence, use it ONLY if all the other lightweight (requiring less RAM, CPU and GPU) prediction models fail.

In [ ]:
# Teacher Action: Deploy the XGBoost Classifier model to detect the stars having a planet.

# Call the 'XGBClassifier()' function and store it in the 'model' variable.
import xgboost as xg
# Call the 'fit()' function with the 'x_fft_train_res' and 'y_fft_train_res' NumPy arrays as input.
model=xg.XGBClassifier()
# Make predictions on test data by calling the 'predict()' function with 'x_fft_test' data as input.
model.fit(x_fft_train_res,y_fft_train_res)
y2_pred=model.predict(np.array(x_fft_test))
# Predict the values of predicted values.
print(y2_pred)

[2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

Now that we have got the predicted values, let's create a confusion matrix to check if the XGBoost Classifier model has detected any class `2` values in the test dataset.

In [ ]:
# Student Action: Create the confusion matrix using the 'y_test' and 'y2_pred' values as inputs.
cm=confusion_matrix(y_test,y2_pred)
print(cm)

[[565   0]
 [  3   2]]

As you can see, the value in the second row and the second column is greater than `0`. Hence, the XGBoost Classifier prediction model has successfully detected few stars belonging to class `2`. Finally, we can take a sigh of relief. However, it has also classified few stars as `1` which should also have been classified as `2`. Nonetheless, this is a great achievement because out of `570` stars in the test dataset, only `5` of them have a planet. And detecting them is like finding a needle in a haystack. So, we should be happy about finding at least 3.


Now, let's compute the precision, recall and f1-scores to test the efficacy of the XGBoost Classifier model. If the f1-score value is greater than 0.5, then we have a good classification model.

In [ ]:
# Student Action: Print the classification report using the 'y_test' and 'y2_pred' values as inputs.
print(classification_report(y_test,y2_pred))

              precision    recall  f1-score   support

           1       0.99      1.00      1.00       565
           2       1.00      0.40      0.57         5

    accuracy                           0.99       570
   macro avg       1.00      0.70      0.78       570
weighted avg       0.99      0.99      0.99       570

As you can see, the precision, recall and f1-scores for the class `2` values are quite high. **The closer they are to ONE, the better is the classification model.** 

This is not the best classification model, but it is a fairly good one. So, we don't have to further process the data. The three data processing activities, i.e., mean normalisation, Fourier Transformation and Oversampling are good enough for this problem statement wherein we hunt the exoplanets in space.

---