<a href="https://colab.research.google.com/github/Mayank224472/Mayank224472/blob/main/Whitehat_Mayank_Lesson8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 8: List Comprehension

### Teacher-Student Activities

In the previous lesson, we learnt how to create a nested list, how to retrieve its items using the list indexing method and how to iterate through each item in a nested list using the `for` loop.

In this lesson, we are going to learn about list comprehension. It is one of the great features of Python programming as it can create the most complicated lists through only a few lines of code. 

We will try to create as many lists as we can so that we get comfortable with the list comprehension technique as it is quite sophisticated in approach.

---

#### Activity 1: The `for` Loop Revision

Before we learn the list comprehension concept, let's revise the `for` loop.

Suppose you want to create a list of natural numbers starting from `1` to `10`. To create this list, you will have to follow these steps:

1. Create an empty list

   ```
   natural_numbers = []
   ```

2. Using the `for` loop, generate numbers from `1` to `10`.

   ```
   for i in range(1, 11):
   ```

   Remember that `i` is just a variable. You can use any other variable name to iterate through the numbers generated by the `range()` function. For e.g., you can use `x, y, value, item, number` or any other letter (or word) as a variable instead of `i`.

3. Within the `for` loop, add the numbers from `1` to `10` to the empty list using the `append()` function.
   
   ```
   for i in range(1, 11):
      natural_numbers.append(i)
   ```

In [ ]:
# Student Action: Create a Python list containing the first 10 natural numbers using the 'for' loop.
natural_numbers=[]
for i in range(1,11):
  natural_numbers.append(i)
natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

As you can see, we have created a Python list containing the first 10 natural numbers. However, this is quite a long code to create a list. You can create the above list by writing just one line of code using the **list comprehension** method.

---

#### Activity 2: The List Comprehension Method^^

The list comprehension method creates a Python list in a single line of code. The core component of a list comprehension is the `for` loop. To create a list using the list comprehension method, first, write the square brackets `[]`. Then inside the brackets, use the `for` loop.

Let's create a list of the first `10` natural numbers using the list comprehension method.

In [ ]:
# Teacher Action: Create a Python list containing the first 10 natural numbers using the list comprehension method.
nat_nums=[i for i in range(1,11)]
nat_nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

The list comprehension `[i for i in range(1, 11)]` should be read as "*Add `i` to the list, for every value of `i` in the range of `1` to `10`.*"

Now, using the list comprehension method, you create a list of the square of the first `10` natural numbers.

In [ ]:
# Student Action: Create a list of the square of the first 10 natural numbers using the list comprehension method.
square_root=[i ** 2 for i in range(1,11)]
square_root

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

The list comprehension `[i ** 2 for i in range(1, 11)]` should be read as "*Add `i` raised to the power of 2 to the list, for every value of `i` in the range of `1` to `10`*".

You can also use a conditional statement in a list comprehension. But first, you try to create a Python list containing even numbers from `1` and `20` using a conventional list creation approach. Here's the hint for you:

1. Create an empty list.

2. Use the `for` loop followed by a conditional statement to get even numbers.

3. Use the `append()` function to add the even numbers to the empty list.

In [ ]:
# Student Action: Create a list of even numbers from 1 to 20 using the conventional list creation method.
even_nums_list=[]
for i in range(1,21):
  if i % 2 == 0:
    even_nums_list.append(i)
even_nums_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In the above code:

- An empty list is created and stored in the `even_nums_list` variable. 

- The `for` loop along with the `range()` function is used to generate numbers from `1` to `20`.

- The `if i % 2 == 0` conditional statement is used to check whether the number stored in `i` is divisible by `2` or not because an even number is always divisible by `2`.

- The `append()` function is used to add the number to the `even_nums_list` which satisfies the above condition.

Now, let's generate the same list using the list comprehension method.

In [ ]:
# Student Action: Create a list of even numbers from 1 and 20 using the list comprehension method.
even_nums=[i for i in range(1,21) if i % 2 ==0]
even_nums

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

The list comprehension `[i for i in range(1, 21) if i % 2 == 0]` should be read as "*Add `i` to the list, for every value of `i` in the range of numbers from `1` to `20`, if `i` is divisible by 2*".

---

#### Activity 3: Nested Lists Using List Comprehension^^^

We can also create nested lists using the list comprehension method.

The creation of nested lists manually is a tedious job. We have to take care of indentation so that the list is readable in the code form. You may miss out on commas, brackets, spaces, etc. while creating a nested list. Hence, the manual nested list creation process becomes time-consuming.

Using list comprehension method, we can create a nested list more neatly and quickly.

Suppose you have two lists and you want to join them into one nested list, then you can use the list comprehension method.

Let's assume that we want to join two lists; one containing names of the planets and another containing their corresponding diameters.

```
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
diameters = [4879, 12104, 12756, 6972, 142984, 120536, 51118, 49528, 2370]
```

**Note:** To save time, copy and paste the above two lists in the code cell below.

We can join these two lists into one nested list using the list comprehension method.

In [ ]:
# Teacher Action: Using the list comprehension method, join the four lists into one.
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
diameters = [4879, 12104, 12756, 6972, 142984, 120536, 51118, 49528, 2370]
n=len(planets)
planet_diameters=[[planets[i],diameters[i]] for i in range(n)]
planet_diameters

[['Mercury', 4879],
 ['Venus', 12104],
 ['Earth', 12756],
 ['Mars', 6972],
 ['Jupiter', 142984],
 ['Saturn', 120536],
 ['Uranus', 51118],
 ['Neptune', 49528],
 ['Pluto', 2370]]

In the above code:

1. We created two lists: `planets` and `diameters`, having the same number of items.

2. We calculated the number of items in the `planets` list. 

3. We iterated through the numbers `0` to `8` (because `n = 9`) using the `for` loop.

4. We retrieved the items located at each index in the `planets` and `diameters` list using the list indexing method, i.e., `planets[i]` and `diameters[i]`, respectively.


5. We used the list comprehension method along with list indexing to join the two lists into one nested list. 

    The list comprehension `[[planets[i], diameters[i]] for i in range(n)]` should be read as '*Add the list* `[planets[i], diameters[i]]` *to the outer list, for every value of `i` in the range of numbers from `0` to `8`*.'

Now, using the same process, you combine four lists into one nested list. They are:

```
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
diameters = [4879, 12104, 12756, 6972, 142984, 120536, 51118, 49528, 2370]
densities = [5427, 5243, 5514, 3933, 1326, 687, 1271, 1638, 2095]
gravities = [3.7, 8.9, 9.8, 3.7, 23.1, 9.0, 8.7, 11.0, 0.7]
```

**Note:** To save time, copy and paste the above four lists in the code cell below.

In [ ]:
# Student Action: Using the list comprehension method, join the four lists into one nested list.
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
diameters = [4879, 12104, 12756, 6972, 142984, 120536, 51118, 49528, 2370]
densities = [5427, 5243, 5514, 3933, 1326, 687, 1271, 1638, 2095]
gravities = [3.7, 8.9, 9.8, 3.7, 23.1, 9.0, 8.7, 11.0, 0.7]
n=len(planets)
planet_list=[[planets[i],diameters[i],densities[i],gravities[i]] for i in range(n)]
planet_list

[['Mercury', 4879, 5427, 3.7],
 ['Venus', 12104, 5243, 8.9],
 ['Earth', 12756, 5514, 9.8],
 ['Mars', 6972, 3933, 3.7],
 ['Jupiter', 142984, 1326, 23.1],
 ['Saturn', 120536, 687, 9.0],
 ['Uranus', 51118, 1271, 8.7],
 ['Neptune', 49528, 1638, 11.0],
 ['Pluto', 2370, 2095, 0.7]]

Now, let's create a nested list using the list comprehension method which has 4 identical lists containing `0` as its each item. 

Here's the desired output:

```
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
```

In [ ]:
# Teacher Action: Create a nested Python list using the list comprehension method, which contains 4 identical lists containing 0 as its each item.
zeros=[[0 for i in range(4)] for i in range(4)]
zeros

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In the above code:

- The list comprehension, `[0 for i in range(4)]` creates a list having 4 items such that each item is zero, i.e., `[0, 0, 0, 0]`. It should be read as "*Add `0` to the list, for every `i` in the range of numbers `0` to `3`.*"

- the next list comprehension, `[[0 for i in range(4)] for i in range(4)]` creates 4 duplicate copies of the `[0, 0, 0, 0]` list, i.e, 

    `[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]`

  It should be read as "*Add `[0, 0, 0, 0]` to the outer list, for every `i` in the range of numbers `0` to `3`.*"

The above nested Python list can be interpreted as a two-dimensional Python list having 4 rows and 4 columns, i.e., 

```
[[0, 0, 0, 0], 
 [0, 0, 0, 0], 
 [0, 0, 0, 0], 
 [0, 0, 0, 0]]
```

So, in this way, we can create a two-dimensional Python list.

Using the same process, you try to create a new nested Python list in which each item is `1`. The nested list should contain 3 duplicate copies of a two-dimensional list containing 4 rows and 2 columns such that each item in the two-dimensional list is `1`. 

Here's the desired output:

```
[[[1, 1], [1, 1], [1, 1], [1, 1]],
 [[1, 1], [1, 1], [1, 1], [1, 1]],
 [[1, 1], [1, 1], [1, 1], [1, 1]]]
```

The above nested list contains 3 duplicate copies of the `[[1, 1], [1, 1], [1, 1], [1, 1]]` list.

In [ ]:
# Student Action: Create a new nested Python list in which each item is 1 using the list comprehension method. Store it in the 'ones' variable.
# It should have 3 duplicate copies of the '[[1, 1], [1, 1], [1, 1], [1, 1]]'.
ones=[[[1 for i in range(2)] for j in range(4)] for k in range(5)]
ones

[[[1, 1], [1, 1], [1, 1], [1, 1]],
 [[1, 1], [1, 1], [1, 1], [1, 1]],
 [[1, 1], [1, 1], [1, 1], [1, 1]],
 [[1, 1], [1, 1], [1, 1], [1, 1]],
 [[1, 1], [1, 1], [1, 1], [1, 1]]]

In the above code:

- The `[1 for i in range(2)]` list comprehension creates a list containing two items such that each item is `1`, i.e., `[1, 1]`.

- The `[[1 for i in range(2)] for j in range(4)]` list comprehension creates four duplicate copies of the `[1, 1]` list, i.e., 
  
  `[[1, 1], [1, 1], [1, 1], [1, 1]]`

- The outermost list comprehension creates three duplicate copies of the `[[[1, 1], [1, 1], [1, 1], [1, 1]]` list, i.e., 

  ```
  [[[1, 1], [1, 1], [1, 1], [1, 1]],
  [[1, 1], [1, 1], [1, 1], [1, 1]],
  [[1, 1], [1, 1], [1, 1], [1, 1]]]
  ```

The above nested Python list can also be interpreted as a three-dimensional Python list having 3 blocks such that each block has 4 rows and 2 columns.

```
[[[1, 1], 
  [1, 1], 
  [1, 1], 
  [1, 1]],

 [[1, 1], 
  [1, 1], 
  [1, 1], 
  [1, 1]],

 [[1, 1], 
  [1, 1], 
  [1, 1], 
  [1, 1]]]
```

Now, let's create the following two-dimensional list using the list comprehension method.

```
 [[11, 12],
  [21, 22]]
```

In the above nested list:

- The digits both at the tens and units places go from `1` to `2`. 

- The digit at tens place in the first row is always `1`. 

- The digit at tens place in the second row is always `2`. 

So, we need to write a logic to create the above nested list keeping these things in mind.

In [ ]:
# Teacher Action: Create the '[[11, 12], [21, 22]]' using the list comprehension method.
two_dim=[[(10*i+j) for j in range(1,3)] for i in range(1,3)]
two_dim

[[11, 12], [21, 22]]

In the above code:

- For `i = 1`, the list comprehension `[(10 * i + j) for j in range(1, 3)]` creates the following list:

  `[(10 * 1 + 1), (10 * 1 + 2)]`, i.e. `[11, 12]`

  Because for `i = 1`, the value of `j` goes from `1` to `2`. Thus, the inner `for` loop gives two numbers: 

    - For `j = 1`, we get `10 * 1 + 1 = 11` 
    
    - For `j = 2`, we get `10 * 1 + 2 = 12`

- For `i = 2`, the list comprehension `[(10 * i + j) for j in range(1, 3)]` creates the following list:

  `[(10 * 2 + 1), (10 * 2 + 2)]`, i.e. `[21, 22]`

  Because for `i = 2`, the value of `j` goes from `1` to `2`. Thus, the inner `for` loop gives two numbers: 
    
    - For `j = 1`, we get `10 * 2 + 1 = 21`
    
    - For `j = 2`, we get `10 * 2 + 2 = 22`

The conventional method for creating the above list is shown below.

In [ ]:
# Student Action: Run the code shown below to create the '[[11, 12], [21, 22]]' list using the conventional list creation method.
two_dim_list=[[],[]]
for i in range(1,3):
  for j in range(1,3):
    item=10*i+j
    two_dim_list[i-1].append(item)
two_dim_list

[[11, 12], [21, 22]]

As you can see, the conventional list creation method is quite lengthy compared to the list comprehension method.

In the above code:

1. We first created a nested list as a collection of 2 empty lists.

2. For `i = 1`, the value of `j` goes from `1` to `2`. This fills up the first sublist because:

    - For `j = 1`, `item = 10 * 1 + 1 = 11`. It is added to the first sublist using the `append()` function.
        
    - For `j = 2`, `item = 10 * 1 + 2 = 12`. It is also added to the first sublist using the `append()` function. 
  
3. For `i = 2`, the value of `j` goes from `1` to `2`. This fills up the second sublist because:

    - For `j = 1`, `item = 10 * 2 + 1 = 21`. It is added to the second sublist using the `append()` function.
        
    - For `j = 2`, `item = 10 * 2 + 2 = 22`. It is also added to the second sublist using the `append()` function. 
        
Now you try to create the following three-dimensional list, using the list comprehension method.

```
 [[[111, 112, 113], 
   [121, 122, 123], 
   [131, 132, 133]],

  [[211, 212, 213], 
   [221, 222, 223], 
   [231, 232, 233]],

  [[311, 312, 313], 
   [321, 322, 323], 
   [331, 332, 333]]]
```

We manually created the above list in the previous class.

In [ ]:
# Student Action: Create the list shown above, using the list comprehension method.
three_dim_list=[[[(100*i+10*j+k) for k in range(1,4)]for j in range(1,4)] for i in range(1,4)]
three_dim_list

[[[111, 112, 113], [121, 122, 123], [131, 132, 133]],
 [[211, 212, 213], [221, 222, 223], [231, 232, 233]],
 [[311, 312, 313], [321, 322, 323], [331, 332, 333]]]

In the above above code:

1. For `i = 1`, the value of `j` goes from `1` to `3`. This generates the first block because:

    - For `j = 1`, the value of `k` goes from `1` to `3`. Thus, the innermost `for` loop generates three numbers: 
    
        - `100 * 1 + 10 * 1 + 1 = 111`, 
        
        - `100 * 1 + 10 * 1 + 2 = 112` and 
        
        - `100 * 1 + 10 * 1 + 3 = 113`

    - For `j = 2`, the value of `k` goes from `1` to `3`. Thus, the innermost `for` loop generates three numbers: 
    
        - `100 * 1 + 10 * 2 + 1 = 121`, 
      
        - `100 * 1 + 10 * 2 + 2 = 122` and 
        
        - `100 * 1 + 10 * 2 + 3 = 123`

    - For `j = 3`, the value of `k` goes from `1` to `3`. Thus, the innermost `for` loop generates three numbers: 
    
        - `100 * 1 + 10 * 3 + 1 = 131`, 
        
        - `100 * 1 + 10 * 3 + 2 = 132` and 
        
        - `100 * 1 + 10 * 3 + 3 = 133`

2. Similarly, `i = 2` generates the second block and `i = 3` generates the third block.

The conventional method for creating the above list is shown below.

In [ ]:
# Student Action: Run the code shown below to create the list shown above using the conventional list creation method.
three_dim_list=[[],[],[]]
for i in range(1,4):
  for j in range(1,4):
    for k in range(1,4):
      item=100*i+10*j+k
      three_dim_list[i-1][j-1].append(item)
three_dim_list

IndexError: ignored

As you can see, the conventional list creation method is quite lengthy compared to the list comprehension method. 

In the above code:

1. We first created a nested list which contains 3 lists such that each list further contains 3 empty lists.

2. For `i = 1`, the value of `j` goes from `1` to `3`. This generates the first block because:

    - For `j = 1`, the value of `k` goes from `1` to `3`. Thus, the innermost `for` loop generates three numbers: 
    
        - For `k = 1, item = 100 * 1 + 10 * 1 + 1 = 111`. It is added to the **first row** and **first column** in the first block using the `append()` function.
        
        - For `k = 2, item = 100 * 1 + 10 * 1 + 2 = 112`. It is added to the **first row** and **second column** in the first block using the `append()` function. 
        
        - For `k = 3, item = 100 * 1 + 10 * 1 + 3 = 113`. It is added to the **first row** and **third column** in the first block using the `append()` function.

    - For `j = 2`, the value of `k` goes from `1` to `3`. Thus, the innermost `for` loop generates three numbers: 
    
        - For `k = 1, item = 100 * 1 + 10 * 2 + 1 = 121`. It is added to the **second row** and **first column** in the first block using the `append()` function. 
      
        - For `k = 2, item = 100 * 1 + 10 * 2 + 2 = 122`. It is added to the **second row** and **second column** in the first block using the `append()` function.
        
        - For `k = 3, item = 100 * 1 + 10 * 2 + 3 = 123`. It is added to the **second row** and **third column** in the first block using the `append()` function.

    - For `j = 3`, the value of `k` goes from `1` to `3`. Thus, the innermost `for` loop generates three numbers: 
    
        - For `k = 1, item = 100 * 1 + 10 * 3 + 1 = 131`. It is added to the **third row** and **first column** in the first block using the `append()` function.
        
        - For `k = 2, item = 100 * 1 + 10 * 3 + 2 = 132`. It is added to the **third row** and **second column** in the first block using the `append()` function. 
        
        - For `k = 3, item = 100 * 1 + 10 * 3 + 3 = 133`. It is added to the **third row** and **third column** in the first block using the `append()` function.

3. Similarly, `i = 2` generates the second block and `i = 3` generates the third block.

In the next class, we will learn NumPy arrays.

**Note:** You can now attempt **Project 2** and **Project 3** on your own.

---