<a href="https://colab.research.google.com/github/Mayank224472/Mayank_Yadav/blob/WhiteHat_Mayank_Applied_Tech/Whitehat_Mayank_Lesson34Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 34: Python Tuples II

### Teacher-Student Activities

Let's continue our discussion on Python tuples. In this class we will learn the following concepts/operations regarding tuples:

- Concatenation of tuples

- Conversion of an iterable object to a tuple.

- Unpacking tuple values

- Changing items in a tuple

- Enumerating the items in a tuple

- Joining multiple tuples into one tuple

- Comparing the performance of a tuple with a list

Almost all the above concepts/operations are common to lists as well. Let's continue this class from the concatenation of tuples.

---

#### Activity 1: Concatenation^^

In the last class, we learnt that we cannot add a new item to a tuple because tuples are immutable. However, we can join two tuples through concatenation. 

Recall that the process of joining two entities is called **concatenation**. This is exactly the same concept that you learnt for strings in one of the previous classes.

Let's revisit this concept with the help of an example. Here are three different tuples containing the annual GDP of India (in %) starting from 1991 till 2018. These GDP figures are taken from the official world bank data website. 

1. `india_gdp_1991_2000 = (1.057, 5.482, 4.751, 6.659, 7.574, 7.550, 4.050, 6.184, 8.846, 3.841)`

2. `india_gdp_2001_2010 = (4.824, 3.804, 7.860, 7.923, 7.923, 8.061, 7.661, 3.087, 7.862, 8.498)`

3. `india_gdp_2011_2018 = (5.241, 5.456, 6.386, 7.410, 7.996, 8.170, 7.168, 6.811)`

Let's join these tuples to form one tuple. To concatenate two or more tuples, use the `+` operator.

In [ ]:
# Student Action: Join the above three tuples to form a new tuple and store it in the 'india_gdp_1991_2018' variable. Also, print its length.
india_gdp_1991_2000 = (1.057, 5.482, 4.751, 6.659, 7.574, 7.550, 4.050, 6.184, 8.846, 3.841)

india_gdp_2001_2010 = (4.824, 3.804, 7.860, 7.923, 7.923, 8.061, 7.661, 3.087, 7.862, 8.498)

india_gdp_2011_2018 = (5.241, 5.456, 6.386, 7.410, 7.996, 8.170, 7.168, 6.811)
india_gdp_1991_2018 = india_gdp_1991_2000+india_gdp_2001_2010+india_gdp_2011_2018 
print(india_gdp_1991_2018)

(1.057, 5.482, 4.751, 6.659, 7.574, 7.55, 4.05, 6.184, 8.846, 3.841, 4.824, 3.804, 7.86, 7.923, 7.923, 8.061, 7.661, 3.087, 7.862, 8.498, 5.241, 5.456, 6.386, 7.41, 7.996, 8.17, 7.168, 6.811)

Let's verify whether the resulting tuple is indeed a tuple or not.

In [ ]:
# Student Action: Verify whether the resulting tuple is indeed a tuple or not.
type(india_gdp_1991_2018)

tuple

You can also concatenate multiple lists using the `+` operator.

In [ ]:
# Student Action: Create two or three lists containing some random items and concatenate them.
list_1 = [i for i in range(1,101) ]
list_2 = [i for i in range(50,41)]
list_3 = list_1+list_2
print(list_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

**Note:** You cannot concatenate multiple Python dictionaries, NumPy arrays and Pandas series among themselves using the `+` operator.

---

#### Activity 2: The `tuple()` Function

You can convert a Python list / NumPy array / Pandas Series into a tuple using the `tuple()` function. 

Let's create a NumPy array of first 10 natural numbers and convert it into a tuple using the `tuple()` function.

In [ ]:
# Student Action: Create a NumPy array containing the first 10 natural numbers and convert it into a tuple. 
# Also, verify whether the array is converted to a tuple or not.

# Create a NumPy array.
import numpy as np
array_1= np.arange(1,11)
tuple(array_1)
# Print the NumPy array.

# Convert the NumPy array into a tuple.

# Print the tuple.

# Verify.

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

If you apply the `tuple()` function on a dictionary, the resulting tuple will contain only the keys of a dictionary.

Let's apply the `tuple()` function on the following dictionary and check the output.

```
my_dict = {'Front Camera' : '16 MP', 
           'Battery' : '3300 mAh',
           'Processor' : 'Qualcomm Snapdragon 845',
           'Display' : '6.28 inches',  
           'RAM' : '6 GB', 
           'Rear Camera' : '16 MP + 20 MP', 
           'Price' : 28990, 
           'Fast Charge' : True} 
```

In [ ]:
# Student Action: Apply the 'tuple()' function on the 'my_dict' dictionary.
my_dict = {'Front Camera' : '16 MP', 
           'Battery' : '3300 mAh',
           'Processor' : 'Qualcomm Snapdragon 845',
           'Display' : '6.28 inches',  
           'RAM' : '6 GB', 
           'Rear Camera' : '16 MP + 20 MP', 
           'Price' : 28990, 
           'Fast Charge' : True} 
tuple(my_dict)

('Front Camera',
 'Battery',
 'Processor',
 'Display',
 'RAM',
 'Rear Camera',
 'Price',
 'Fast Charge')

As you can see, the `tuple()` function, when applied to a dictionary, returns a tuple containing only the keys of the dictionary.

Similarly, you can also apply the `list()` function to convert a data-structure into a list. The `list()` function, when applied on a dictionary, also returns a list containing only the keys of the dictionary.

In [ ]:
# Student Action: Apply the 'list()' function on the 'my_dict' dictionary.
list(my_dict)

['Front Camera',
 'Battery',
 'Processor',
 'Display',
 'RAM',
 'Rear Camera',
 'Price',
 'Fast Charge']

---

#### Activity 3: Unpacking

We can unpack or assign all the values to the same number of variables by writing them in one line.

**Syntax:** `vb1, vb2, vb3, ..., vbN = (item1, item2, item3, ..., itemN)`

where `vb1, vb2, vb3, ..., vbN` are `N` different variables and `item1, item2, item3, ..., itemN` are `N` different items stored in the tuple.

In [ ]:
# Student Action: Create a tuple containing 5 items and assign their values to 5 differing variables.
a,b,c= (4,8,)
print(a,b,c)

ValueError: ignored

The same method is also applicable for a list.

**Note:** This method of unpacking values fails when the number of variables are less than or greater than the number of items in a tuple or a list.

---

#### Activity 4: Changing Tuple Items

We have already discussed that we cannot change the contents of a tuple. However, we can first convert the tuple into a list, then change the contents of the list and finally change the list back into a tuple.

Let's create a tuple of English vowels which contains one consonant. To remove that consonant, we will first convert the tuple into a list using the `list()` function, then will remove the consonant by applying the `remove()` function and then convert the list back to a tuple using the `tuple()` function.

In [ ]:
# Student Action: Create a tuple containing English vowels and then reverse the order of its items.
# Create a tuple of vowels.
vowels= ('a','e','i','o','u','s')
vowels
correct_vowels=list(vowels)
print(correct_vowels)
correct_vowels.remove('s')
print(correct_vowels)
vowels=tuple(correct_vowels)
print(vowels)

# Print the contents of the tuple before converting it into a list.

# Convert the tuple into a list.

# Remove the consonant from the list.

# Convert the list into a tuple.

# Print the items of the tuple after reversing their order.

['a', 'e', 'i', 'o', 'u', 's']
['a', 'e', 'i', 'o', 'u']
('a', 'e', 'i', 'o', 'u')

Similarly, you can apply other list functions by first converting a tuple into a list and then changing the list back to the tuple by applying the `tuple()` function. This little hack is useful when the data entered in a tuple is wrong or undesirable. However, this hack becomes a computationally heavy task in case of a huge dataset. Imagine having 1 million (or 10 lakh) data points in a dataset that is not supposed to be changed. But then there is one mistake that needs to be corrected. You will have to first convert the entire tuple into a list, then correct the mistake in the item and then convert it back into a tuple. This exercise could lead to system failure in case of large datasets.

---

#### Activity 5: The `enumerate()` Function

Before we learn this function, think of a way to print the indices of the items contained in the `india_gdp_2011_2018` tuple along with the items one-by-one.

In [ ]:
# Student Action: Print the indices of the items contained in the 'india_gdp_2011_2018' tuple along with the items one-by-one.
india_gdp_2011_2018 = (5.241, 5.456, 6.386, 7.410, 7.996, 8.170, 7.168, 6.811)
for i in range(0,len(india_gdp_2011_2018)) :
  print(i,india_gdp_2011_2018[i])

0 5.241
1 5.456
2 6.386
3 7.41
4 7.996
5 8.17
6 7.168
7 6.811

The `enumerate()` function does the similar thing. It labels the items contained in a data-structure with numbers starting from zero. It is similar to doing the roll call to get the count of the number of people present in a gathering. However, it returns a non-readable Python object. 

Let's apply the `enumerate()` function on the `india_gdp_2011_2018` tuple.

In [ ]:
# Student Action: Apply the 'enumerate()' function on the 'india_gdp_2011_2018' tuple.
india_gdp_new=enumerate(india_gdp_2011_2018)
list(india_gdp_new)

[(0, 5.241),
 (1, 5.456),
 (2, 6.386),
 (3, 7.41),
 (4, 7.996),
 (5, 8.17),
 (6, 7.168),
 (7, 6.811)]

As you can see, the output is some gibberish or non-readable object. In fact, it returns the physical memory location of the object created by the `enumerate()` function. 

Now, apply the `tuple()` function on top of the `enumerate()` function.

In [ ]:
# Student Action: Apply the 'tuple()' function on top of the 'enumerate()' function.
india_gdp_new=enumerate(india_gdp_2011_2018)
india_1=tuple(india_gdp_new)

As you can see, the output is a tuple containing the key-value pairs of the item and its roll call such that each key-value pair is another tuple.

You can also iterate through each tuple print both roll call and the item.

In [ ]:
# Student Action: Iterate through each tuple print both roll call and the item contained in the above tuple.
for i,j in india_1 :
  print(j)

5.241
5.456
6.386
7.41
7.996
8.17
7.168
6.811

The `enumerate()` function can also be applied on lists, dictionaries and strings.

In [ ]:
# Student Action: Apply the 'enumerate()' function on 'my_dict' dictionary and 'vowels_list'. On top of them apply the 'tuple()' function. 
my_dict_new=tuple(enumerate(my_dict))
my_dict_new

((0, 'Front Camera'),
 (1, 'Battery'),
 (2, 'Processor'),
 (3, 'Display'),
 (4, 'RAM'),
 (5, 'Rear Camera'),
 (6, 'Price'),
 (7, 'Fast Charge'))

As you can see, the `tuple()` function when applied on top of the `enumerate()` function 

- in the case of the `my_dict` dictionary, returns a **tuple** that is a collection of tuples such that each tuple contains the roll call of every key and the key itself contained in the `my_dict` dictionary. The values of the `my_dict` dictionary are ignored.

- in the case of the `vowels_list`, returns a **tuple** that is a collection of tuples such that each tuple contains the roll call of every item and the item itself contained in the `vowels_list`.

In [ ]:
# Student Action: Apply the 'enumerate()' function on 'my_dict' dictionary and 'vowels_list'. On top of them apply the 'list()' function.
my_dict_new=list(enumerate(my_dict))
my_dict_new

[(0, 'Front Camera'),
 (1, 'Battery'),
 (2, 'Processor'),
 (3, 'Display'),
 (4, 'RAM'),
 (5, 'Rear Camera'),
 (6, 'Price'),
 (7, 'Fast Charge')]

As you can see, the `list()` function when applied on top of the `enumerate()` function 

- in the case of the `my_dict` dictionary, returns a **list** that is a collection of tuples such that each tuple contains the roll call of every key and the key itself contained in the `my_dict` dictionary. The values of the `my_dict` dictionary are ignored.

- in the case of the `vowels_list`, returns a **list** that is a collection of tuples such that each tuple contains the roll call of every item and the item itself contained in the `vowels_list`.

In [ ]:
# Student Action: Apply the 'enumerate()' function on 'my_dict' dictionary and 'vowels_list'. On top of them apply the 'dict()' function.
vowels_list=dict(enumerate(vowels))
vowels_list

{0: 'a', 1: 'e', 2: 'i', 3: 'o', 4: 'u'}

As you can see, the `dict()` function when applied on top of the `enumerate()` function 

- in the case of the `my_dict` dictionary, returns a **dictionary** that is a collection of key-value pairs such that each pair contains the roll call of every key and the key itself contained in the `my_dict` dictionary. The values of the `my_dict` dictionary are ignored.

- in the case of the `vowels_list`, returns a **dictionary** that is a collection of key-value pairs such that each pair contains the roll call of every item and the item itself contained in the `vowels_list`.

---

#### Activity 6: The `sorted()` Function

If you want to display the items of a tuple in the increasing or decreasing order, then you can apply the `sorted()` function. However, it will return a list instead of a tuple.

The `sorted()` function, by-default, arranges the items in the ascending order. To arrange them in the descending order, pass a parameter called `reverse=True` inside the `sorted()` function.

**Syntax:** 

- For ascending order, `sorted(tuple_name)`

- For descending order, `sorted(tuple_name, reverse=True)`

Let's learn this function with the help of an example.

In [ ]:
# Student Action: Create a tuple containing 10 random integers ranging between 1 and 50.

In [ ]:
# Student Action: Now display the items of the tuple in the ascending order.

As you can see, the items of the `randint_tuple` are displayed in the ascending order but as a list.

The same function can also be applied for a Python list with the same syntax.

In [ ]:
# Student Action: Create a list containing 10 random integers ranging between 100 and 150.

In [ ]:
# Student Action: Now display the items of the list in the descending order.

---

#### Activity 7: The `zip()` Function^

You have already learnt that the `zip()` function can be used to join two or more lists to form a new dictionary and list. The objects need to be a list or a dictionary. Any two different iterable objects of the same length can be joined using the `zip` function. 

The iterable objects are those objects on which we can apply either a for loop or a while loop. So, if there are $n$ iterable objects and you want to join $r$ objects out of those $n$ objects such that $r \leq n$ and $n \ge1$, then you can do that in ${}^nP_r$ ways where $${}^nP_r = \frac{n!}{(n-r)!}$$ and $$n! = n \times (n - 1) \times (n-2) \dots 3 \times 2 \times 1$$

Also, $1! = 1$ and $0!=1$

E.g., if there are $n=3$ iterable objects (say list, dictionary, tuple) and you want to join $r=2$ of them, then you can join them in $${}^3P_2 = \frac{3!}{(3-2)!} = \frac{3 \times2 \times 1}{1} = 6 \space \text{ways}$$ 

The 6 possible ways are:

1. list, dictionary

2. dictionary, list

3. list, tuple

4. tuple, list

5. dictionary, tuple

6. tuple, dictionary

In the above expression, if $r=n$, i.e., if all of the iterable objects are to be joined using the `zip()` function at a time, then it can be done in $n!$ ways because $${}^nP_n = \frac{n!}{(n-n)!} = \frac{n!}{0!} = n!$$

E.g., if you want to join a list, a dictionary and a tuple at once, then you can join them in $3! = 3\times 2 \times 1 = 6$ ways. In this case, the 6 possible ways are:

1. list, dictionary, tuple

2. list, tuple, dictionary

3. dictionary, list, tuple

4. dictionary, tuple, list

5. tuple, list, dictionary

6. tuple, dictionary, list


**Note:** You don't need to know this theory to apply the `zip()` function. It is just an example to demonstrate that mathematics is definitely applied in real-life problems especially in the field of computer applications.

Let's create a NumPy array containing the years from 1991 to 2018 and join it with the `india_gdp_1991_2018` tuple to form a new tuple using the `zip()` function.

In [ ]:
# Student Action: Create a NumPy array containing the year from 1991 to 2018 and join it with the 'india_gdp_1991_2018' tuple.

Repeat the same exercise by interchanging the positions of the array and the tuple inside the `zip()` function.

In [ ]:
# Repeat the same exercise by interchanging the positions of the array and the tuple inside the zip() function.

This time, the year values appear after the GDP values in the newly formed tuple.

---

#### Activity 8: Performance^^^

Tuples are faster than lists. This is evident from the fact that tuples are immutable and have fewer functions as compared to the lists.

Let's find out how fast tuples are compared to lists by recording the time taken to create 1 million tuples and 1 million lists having the identical items and identical lengths.

In [ ]:
# Student Action: Run the code below.
import timeit

tuple_time = timeit.timeit(stmt="(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)", number=1000000)
list_time = timeit.timeit(stmt="[i for i in range(1, 11)]", number=1000000)

print("Time taken to create 1 million tuples is", round(tuple_time, 4), "seconds.",
      "\nTime taken to create 1 million lists is", round(list_time, 4), "seconds.")

That's it. We have covered everything we need regarding tuples. In the next class, we will learn string operations.

---